-- MASTER MIGRATION SCRIPT
-- Complete schema setup for VictorySync Dashboard
-- Run this entire script in Supabase SQL Editor

-- ==========================================
-- 1. EXTENSIONS
-- ==========================================
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- ==========================================
-- 2. BASIC TABLES (Prerequisites)
-- ==========================================

-- Organizations table
CREATE TABLE IF NOT EXISTS public.organizations (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  name text NOT NULL,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Profiles table
CREATE TABLE IF NOT EXISTS public.profiles (
  id uuid REFERENCES auth.users(id) ON DELETE CASCADE PRIMARY KEY,
  email text,
  full_name text,
  global_role text CHECK (global_role IN ('platform_admin', 'platform_manager', NULL)),
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Calls table
CREATE TABLE IF NOT EXISTS public.calls (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_id uuid REFERENCES public.organizations(id),
  from_number text,
  to_number text,
  started_at timestamptz,
  ended_at timestamptz,
  duration_seconds int,
  status text,
  created_at timestamptz DEFAULT now()
);

-- ==========================================
-- 3. RBAC TABLES
-- ==========================================

-- Phone numbers table
DROP TABLE IF EXISTS public.phone_numbers CASCADE;
CREATE TABLE public.phone_numbers (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  number text NOT NULL,
  external_id text UNIQUE NOT NULL,
  org_id uuid REFERENCES public.organizations(id) ON DELETE SET NULL,
  label text,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now(),
  UNIQUE(number)
);

-- Org members table
DROP TABLE IF EXISTS public.org_members CASCADE;
CREATE TABLE public.org_members (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_id uuid NOT NULL REFERENCES public.organizations(id) ON DELETE CASCADE,
  user_id uuid NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  role text NOT NULL CHECK (role IN ('agent', 'org_manager', 'org_admin')),
  mightycall_extension text,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now(),
  UNIQUE(org_id, user_id)
);

-- Org manager permissions
DROP TABLE IF EXISTS public.org_manager_permissions CASCADE;
CREATE TABLE public.org_manager_permissions (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_member_id uuid NOT NULL REFERENCES public.org_members(id) ON DELETE CASCADE,
  can_manage_agents boolean DEFAULT false,
  can_manage_phone_numbers boolean DEFAULT false,
  can_edit_service_targets boolean DEFAULT false,
  can_view_billing boolean DEFAULT false,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now(),
  CONSTRAINT check_is_manager CHECK (
    (SELECT role FROM public.org_members WHERE id = org_member_id) = 'org_manager'
  )
);

-- Platform manager permissions
DROP TABLE IF EXISTS public.platform_manager_permissions CASCADE;
CREATE TABLE public.platform_manager_permissions (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id uuid NOT NULL UNIQUE REFERENCES auth.users(id) ON DELETE CASCADE,
  can_manage_phone_numbers_global boolean DEFAULT false,
  can_manage_agents_global boolean DEFAULT false,
  can_manage_orgs boolean DEFAULT false,
  can_view_billing_global boolean DEFAULT false,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now(),
  CONSTRAINT check_is_platform_manager CHECK (
    (SELECT global_role FROM public.profiles WHERE id = user_id) = 'platform_manager'
  )
);

-- ==========================================
-- 4. BILLING TABLES
-- ==========================================

-- Packages table
CREATE TABLE IF NOT EXISTS public.packages (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  name text NOT NULL,
  description text,
  type text NOT NULL CHECK (type IN ('user', 'org', 'platform')),
  features jsonb DEFAULT '{}'::jsonb,
  pricing jsonb DEFAULT '{}'::jsonb,
  is_active boolean DEFAULT true,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- User packages table
CREATE TABLE IF NOT EXISTS public.user_packages (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id uuid NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  package_id uuid NOT NULL REFERENCES public.packages(id) ON DELETE CASCADE,
  assigned_by uuid REFERENCES auth.users(id),
  assigned_at timestamptz DEFAULT now(),
  expires_at timestamptz,
  is_active boolean DEFAULT true,
  metadata jsonb DEFAULT '{}'::jsonb,
  UNIQUE(user_id, package_id)
);

-- Billing records table
CREATE TABLE IF NOT EXISTS public.billing_records (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_id uuid REFERENCES public.organizations(id) ON DELETE CASCADE,
  user_id uuid REFERENCES auth.users(id) ON DELETE CASCADE,
  type text NOT NULL CHECK (type IN ('subscription', 'one_time', 'usage', 'refund')),
  description text NOT NULL,
  amount decimal(10,2) NOT NULL,
  currency text DEFAULT 'USD',
  stripe_payment_intent_id text,
  stripe_invoice_id text,
  status text DEFAULT 'pending' CHECK (status IN ('pending', 'paid', 'failed', 'refunded')),
  billing_date timestamptz DEFAULT now(),
  due_date timestamptz,
  paid_at timestamptz,
  metadata jsonb DEFAULT '{}'::jsonb,
  created_at timestamptz DEFAULT now()
);

-- Invoices table
CREATE TABLE IF NOT EXISTS public.invoices (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_id uuid REFERENCES public.organizations(id) ON DELETE CASCADE,
  invoice_number text UNIQUE NOT NULL,
  billing_period_start timestamptz,
  billing_period_end timestamptz,
  subtotal decimal(10,2) NOT NULL,
  tax_amount decimal(10,2) DEFAULT 0,
  total_amount decimal(10,2) NOT NULL,
  currency text DEFAULT 'USD',
  status text DEFAULT 'draft' CHECK (status IN ('draft', 'sent', 'paid', 'overdue', 'cancelled')),
  stripe_invoice_id text,
  pdf_url text,
  notes text,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Invoice items table
CREATE TABLE IF NOT EXISTS public.invoice_items (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  invoice_id uuid NOT NULL REFERENCES public.invoices(id) ON DELETE CASCADE,
  description text NOT NULL,
  quantity int DEFAULT 1,
  unit_price decimal(10,2) NOT NULL,
  total_price decimal(10,2) NOT NULL,
  metadata jsonb DEFAULT '{}'::jsonb
);

-- ==========================================
-- 5. MIGHTYCALL TABLES
-- ==========================================

-- Mightycall reports table
CREATE TABLE IF NOT EXISTS public.mightycall_reports (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_id uuid REFERENCES public.organizations(id) ON DELETE CASCADE,
  phone_number_id uuid REFERENCES public.phone_numbers(id) ON DELETE CASCADE,
  report_type text NOT NULL CHECK (report_type IN ('calls', 'recordings', 'analytics')),
  report_date date NOT NULL,
  data jsonb NOT NULL,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now(),
  UNIQUE(org_id, phone_number_id, report_type, report_date)
);

-- Mightycall recordings table
CREATE TABLE IF NOT EXISTS public.mightycall_recordings (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  org_id uuid REFERENCES public.organizations(id) ON DELETE CASCADE,
  phone_number_id uuid REFERENCES public.phone_numbers(id) ON DELETE CASCADE,
  call_id text NOT NULL,
  recording_url text,
  duration_seconds int,
  recording_date timestamptz NOT NULL,
  metadata jsonb DEFAULT '{}'::jsonb,
  created_at timestamptz DEFAULT now(),
  UNIQUE(org_id, call_id)
);

-- ==========================================
-- 6. INDEXES
-- ==========================================

-- Basic indexes
CREATE INDEX IF NOT EXISTS idx_calls_org_id ON public.calls(org_id);
CREATE INDEX IF NOT EXISTS idx_calls_started_at ON public.calls(started_at);
CREATE INDEX IF NOT EXISTS idx_profiles_global_role ON public.profiles(global_role);

-- Phone numbers indexes
CREATE INDEX IF NOT EXISTS idx_phone_numbers_org_id ON public.phone_numbers(org_id);
CREATE INDEX IF NOT EXISTS idx_phone_numbers_external_id ON public.phone_numbers(external_id);

-- Org members indexes
CREATE INDEX IF NOT EXISTS idx_org_members_org_id ON public.org_members(org_id);
CREATE INDEX IF NOT EXISTS idx_org_members_user_id ON public.org_members(user_id);

-- Org manager permissions indexes
CREATE INDEX IF NOT EXISTS idx_org_manager_permissions_member_id ON public.org_manager_permissions(org_member_id);

-- Platform manager permissions indexes
CREATE INDEX IF NOT EXISTS idx_platform_manager_permissions_user_id ON public.platform_manager_permissions(user_id);

-- Packages indexes
CREATE INDEX IF NOT EXISTS idx_packages_type_active ON public.packages(type, is_active);
CREATE INDEX IF NOT EXISTS idx_user_packages_user_id ON public.user_packages(user_id);
CREATE INDEX IF NOT EXISTS idx_user_packages_package_id ON public.user_packages(package_id);

-- Billing indexes
CREATE INDEX IF NOT EXISTS idx_billing_records_org_id ON public.billing_records(org_id);
CREATE INDEX IF NOT EXISTS idx_billing_records_user_id ON public.billing_records(user_id);
CREATE INDEX IF NOT EXISTS idx_billing_records_status ON public.billing_records(status);
CREATE INDEX IF NOT EXISTS idx_invoices_org_id ON public.invoices(org_id);
CREATE INDEX IF NOT EXISTS idx_invoices_status ON public.invoices(status);
CREATE INDEX IF NOT EXISTS idx_invoice_items_invoice_id ON public.invoice_items(invoice_id);

-- Mightycall indexes
CREATE INDEX IF NOT EXISTS idx_mightycall_reports_org_phone ON public.mightycall_reports(org_id, phone_number_id);
CREATE INDEX IF NOT EXISTS idx_mightycall_reports_date ON public.mightycall_reports(report_date);
CREATE INDEX IF NOT EXISTS idx_mightycall_recordings_org_phone ON public.mightycall_recordings(org_id, phone_number_id);
CREATE INDEX IF NOT EXISTS idx_mightycall_recordings_date ON public.mightycall_recordings(recording_date);

-- ==========================================
-- 7. ENABLE RLS
-- ==========================================

ALTER TABLE public.calls ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.phone_numbers ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.org_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.org_manager_permissions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.platform_manager_permissions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.packages ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.user_packages ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.billing_records ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.invoices ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.invoice_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.mightycall_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.mightycall_recordings ENABLE ROW LEVEL SECURITY;

-- ==========================================
-- 8. SECURITY FUNCTIONS
-- ==========================================

CREATE OR REPLACE FUNCTION public.is_platform_admin()
RETURNS boolean
LANGUAGE sql
STABLE
AS $$
  SELECT coalesce(auth.jwt() ->> 'global_role', '') = 'platform_admin';
$$;

-- ==========================================
-- 9. RLS POLICIES
-- ==========================================

-- Calls policies
DROP POLICY IF EXISTS \
calls_admin_all\ ON public.calls;
DROP POLICY IF EXISTS \calls_user_read_own_org\ ON public.calls;

CREATE POLICY \calls_admin_all\
ON public.calls
FOR ALL
USING (public.is_platform_admin());

CREATE POLICY \calls_user_read_own_org\
ON public.calls
FOR SELECT
USING (
  org_id IN (
    SELECT org_id FROM public.org_members WHERE user_id = auth.uid()
  )
);

-- Phone numbers policies
DROP POLICY IF EXISTS \phone_numbers_admin_all\ ON public.phone_numbers;
DROP POLICY IF EXISTS \phone_numbers_org_read\ ON public.phone_numbers;

CREATE POLICY \phone_numbers_admin_all\
ON public.phone_numbers
FOR ALL
USING (public.is_platform_admin());

CREATE POLICY \phone_numbers_org_read\
ON public.phone_numbers
FOR SELECT
USING (
  org_id IS NULL OR
  org_id IN (
    SELECT org_id FROM public.org_members WHERE user_id = auth.uid()
  )
);

-- Org members policies
DROP POLICY IF EXISTS \org_members_admin_all\ ON public.org_members;
DROP POLICY IF EXISTS \org_members_org_read\ ON public.org_members;

CREATE POLICY \org_members_admin_all\
ON public.org_members
FOR ALL
USING (public.is_platform_admin());

CREATE POLICY \org_members_org_read\
ON public.org_members
FOR SELECT
USING (
  org_id IN (SELECT org_id FROM public.org_members WHERE user_id = auth.uid())
);

-- Org manager permissions policies
DROP POLICY IF EXISTS \org_manager_perms_admin\ ON public.org_manager_permissions;
DROP POLICY IF EXISTS \org_manager_perms_read\ ON public.org_manager_permissions;

CREATE POLICY \org_manager_perms_admin\
ON public.org_manager_permissions
FOR ALL
USING (public.is_platform_admin());

CREATE POLICY \org_manager_perms_read\
ON public.org_manager_permissions
FOR SELECT
USING (
  org_member_id IN (
    SELECT id FROM public.org_members
    WHERE user_id = auth.uid() AND org_id IN (
      SELECT org_id FROM public.org_members WHERE user_id = auth.uid()
    )
  )
);

-- Platform manager permissions policies
DROP POLICY IF EXISTS \platform_manager_perms_admin\ ON public.platform_manager_permissions;
DROP POLICY IF EXISTS \platform_manager_perms_self\ ON public.platform_manager_permissions;

CREATE POLICY \platform_manager_perms_admin\
ON public.platform_manager_permissions
FOR ALL
USING (public.is_platform_admin());

CREATE POLICY \platform_manager_perms_self\
ON public.platform_manager_permissions
FOR SELECT
USING (user_id = auth.uid());

-- Packages policies
DROP POLICY IF EXISTS \packages_read\ ON public.packages;
DROP POLICY IF EXISTS \packages_admin_all\ ON public.packages;

CREATE POLICY \packages_read\
ON public.packages
FOR SELECT
USING (is_active = true);

CREATE POLICY \packages_admin_all\
ON public.packages
FOR ALL
USING (public.is_platform_admin());

-- User packages policies
DROP POLICY IF EXISTS \user_packages_user_read\ ON public.user_packages;
DROP POLICY IF EXISTS \user_packages_admin_all\ ON public.user_packages;

CREATE POLICY \user_packages_user_read\
ON public.user_packages
FOR SELECT
USING (user_id = auth.uid());

CREATE POLICY \user_packages_admin_all\
ON public.user_packages
FOR ALL
USING (public.is_platform_admin());

-- Billing records policies
DROP POLICY IF EXISTS \billing_records_user_read\ ON public.billing_records;
DROP POLICY IF EXISTS \billing_records_org_admin_read\ ON public.billing_records;
DROP POLICY IF EXISTS \billing_records_admin_all\ ON public.billing_records;

CREATE POLICY \billing_records_user_read\
ON public.billing_records
FOR SELECT
USING (user_id = auth.uid());

CREATE POLICY \billing_records_org_admin_read\
ON public.billing_records
FOR SELECT
USING (
  org_id IS NOT NULL AND
  EXISTS (
    SELECT 1 FROM public.org_members
    WHERE org_members.org_id = billing_records.org_id
    AND org_members.user_id = auth.uid()
    AND org_members.role = 'org_admin'
  )
);

CREATE POLICY \billing_records_admin_all\
ON public.billing_records
FOR ALL
USING (public.is_platform_admin());

-- Invoices policies
DROP POLICY IF EXISTS \invoices_org_read\ ON public.invoices;
DROP POLICY IF EXISTS \invoices_admin_all\ ON public.invoices;

CREATE POLICY \invoices_org_read\
ON public.invoices
FOR SELECT
USING (
  EXISTS (
    SELECT 1 FROM public.org_members
    WHERE org_members.org_id = invoices.org_id
    AND org_members.user_id = auth.uid()
  )
);

CREATE POLICY \invoices_admin_all\
ON public.invoices
FOR ALL
USING (public.is_platform_admin());

-- Invoice items policies
DROP POLICY IF EXISTS \invoice_items_org_read\ ON public.invoice_items;
DROP POLICY IF EXISTS \invoice_items_admin_all\ ON public.invoice_items;

CREATE POLICY \invoice_items_org_read\
ON public.invoice_items
FOR SELECT
USING (
  EXISTS (
    SELECT 1 FROM public.invoices i
    JOIN public.org_members ou ON ou.org_id = i.org_id
    WHERE i.id = invoice_items.invoice_id
    AND ou.user_id = auth.uid()
  )
);

CREATE POLICY \invoice_items_admin_all\
ON public.invoice_items
FOR ALL
USING (public.is_platform_admin());

-- Mightycall reports policies
DROP POLICY IF EXISTS \mightycall_reports_org_read\ ON public.mightycall_reports;

CREATE POLICY \mightycall_reports_org_read\
ON public.mightycall_reports
FOR ALL
USING (
  EXISTS (
    SELECT 1 FROM public.org_members
    WHERE org_members.org_id = mightycall_reports.org_id
    AND org_members.user_id = auth.uid()
  )
);

-- Mightycall recordings policies
DROP POLICY IF EXISTS \mightycall_recordings_org_read\ ON public.mightycall_recordings;

CREATE POLICY \mightycall_recordings_org_read\
ON public.mightycall_recordings
FOR ALL
USING (
  EXISTS (
    SELECT 1 FROM public.org_members
    WHERE org_members.org_id = mightycall_recordings.org_id
    AND org_members.user_id = auth.uid()
  )
);

-- ==========================================
-- 10. DEFAULT DATA
-- ==========================================

-- Insert default packages

-- ==========================================
-- MIGRATION COMPLETE
-- ==========================================
