{"swagger":"2.0","info":{"version":"v4","title":"API.HttpService","description":"MightyCall API (Application Programming Interface) exposes platform features to be used within 3rd party apps.\r\n\r\nTell us how you use the API and which additional methods you need to build integrations with a 3rd party apps. Send us your comments and feedback at support@mightycall.com","contact":{"name":"Mightycall support","email":"support@mightycall.com"}},"host":"api.mightycall.com","basePath":"/v4/api","schemes":["https"],"paths":{"/calls":{"get":{"tags":["Calls"],"summary":"List calls","description":"This method can return:        \r\n* list of calls based on parameters '''{?pageSize,skip,startUtc,endUtc,callFilter,customFilter }'''\r\n* information about a particular call based on it’s ID { id }\r\n\r\n### Request headers:\r\n```\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```\r\n        \r\nParameters:\r\n\r\n<code>\r\n/calls/{id}?pageSize=..&amp;skip=..&amp;startUtc=..&amp;endUtc=..&amp;callFilter=..&amp;customFilter=..\r\n</code>\r\n\r\nIf no calls found by specified criteria or there is no any call available for the authenticated user, an empty data will be returned as well as Http status 200 OK:\r\n```javascript\r\n{\r\n    \"data\": {\r\n        \"calls\": [],\r\n        \"total\": 0\r\n    },\r\n    \"isSuccess\": true\r\n}\r\n```","operationId":"Calls_List","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pageSize","in":"query","description":"Number of calls to return Default is 10 items per one page.","required":false,"type":"integer","format":"int32","maximum":2147483647,"minimum":1},{"name":"skip","in":"query","description":"number of calls to skip.","required":false,"type":"integer","format":"int32","maximum":2147483647,"minimum":0},{"name":"startUtc","in":"query","description":"Start of the date/time calls interval at `yyyy-MM-ddThh:mm:ss` format. By default is 'now - 1 day'.","required":false,"type":"string","format":"date-time"},{"name":"endUtc","in":"query","description":"End of the date/time calls interval in `yyyy-MM-ddThh:mm:ss` format. By default it is the current date and time ('now').","required":false,"type":"string","format":"date-time"},{"name":"callFilter","in":"query","description":"Calls filter (multiple values supported).\r\n        \r\n* `Incoming` -  incoming call;\r\n* `Outgoing` - outgoing call;\r\n* `InOutgoing` - incoming or outgoing call;\r\n* `Connected` - connected call;\r\n* `Missed` - missed call;\r\n* `Canceled` - cancelled call;\r\n* `Dropped` - dropped call;\r\n* `Voicemail` - voicemail;\r\n* `InternalOnly` - internal call;\r\n* `CallbackWidget` - callback widget call.","required":false,"type":"string","enum":["Incoming","Outgoing","InOutgoing","Connected","Missed","Canceled","Dropped","Voicemail","InternalOnly","CallbackWidget"]},{"name":"customFilter","in":"query","description":"Calls search string.","required":false,"type":"string"},{"name":"extension","in":"query","description":"The extension number.","required":false,"type":"string"}],"responses":{"200":{"description":"OK. In case of success, the response contains list of the available calls.","schema":{"$ref":"#/definitions/DomainObjects.CrmApi.OkResult[API.HttpService.Entities.CallResult]"},"examples":{"application/json":{"data":{"calls":[{"id":"7e734dc1-544d-4f04-8ccc-8bd5b197a88c","caller":{"name":"u2 u2","extension":"101"},"called":[{"isConnected":true,"name":"John Doe","extension":"100"},{"isConnected":false,"name":"u3 u3","extension":"102","phone":"+15551112235"}],"businessNumber":"+15550152729","dateTimeUtc":"2018-06-05T13:38:29.522+00:00","duration":"23066","direction":"Outgoing","callStatus":"Connected","callRecord":{"fileName":"records/T1U9YWttaWdodHljYWxfRjk1MjJFM0RFQjJGNDJBM0JDRDk2MjdCNTFBNDM0QTksT1U9WWFuZGV4LE9VPUluZnJhdGVsLERDPXJ1LERDPW1pZ2h0eWNhbGwsREM9ZGV20/7e734dc1-544d-4f04-8ccc-8bd5b197a88c.wav","uri":"http://localhost/Mightycall/Files/callrecord_20180605_1338_u2 u2.wav?recordid=fdaqSwNP4TGQT_1Zq-j8_AY2uKfTk-D3Vn2JFYdw4gogE54biOue4TYCdKL7EZvD8QXPeTwAiElxZqfOQ5Hw1fP1TFfYwR-FgODHtICfFOz7qSMTUPBoMekix2oE3aNUggIiYfsISKwzgtE-bgbpmczJf-cPLqWm4_V8WckFEMUBLIqQqI0g3XqIvVw_1EGmzp5hi7hPs-GqDneQwcGNg2LA7qGbl-eQ07LqeDW_qtEeTrWDDzv-G_FrjboX6U52ivtDdsJJnp7785rSvIp17gfjBMely9UI1B2M2Y8AsgTpgAmY7PhCfg2&id=T1U9YWttaWdodHljYWxfRjk1MjJFM0RFQjJGNDJBM0JDRDk2MjdCNTFBNDM0QTksT1U9WWFuZGV4LE9VPUluZnJhdGVsLERDPXJ1LERDPW1pZ2h0eWNhbGwsREM9ZGV20"}}],"total":1},"isSuccess":true}}},"400":{"description":"Bad Request. Some request parameter is invalid.","schema":{"$ref":"#/definitions/API.HttpService.Entities.BadRequestResultDocumentation"},"examples":{"application/json":{"message":"The request is invalid.","modelState":{"pageSize":["The value 'invalidPageSize' is not valid for PageSize."],"startUtc":["The value 'invalidDate' is not valid for StartUtc."]}}}}},"deprecated":false}},"/calls/{id}":{"get":{"tags":["Calls"],"summary":"Get call","description":" Returns call object by its unique identifier:\r\n \r\n```\r\n GET /calls/[call guid identifier with dashes]\r\n ```\r\n ### Request headers:\r\n ```\r\n Authorization: Bearer {auth_token}\r\n x-api-key: {api_key}\r\n ```\r\n ### Response headers:\r\n ```\r\n Content-Type: application/json\r\n ```\r\n \r\n ### Example:\r\n Request:\r\n ```\r\n GET /calls/7e734dc1-544d-4f04-8ccc-8bd5b197a88c;\r\n ```\r\n Response:\r\n \r\n Status: 200OK\r\n ```javascript\r\n {\r\n    \"id\":\"7e734dc1-544d-4f04-8ccc-8bd5b197a88c\",\r\n    \"caller\":{\r\n       \"name\":\"u2 u2\",\r\n       \"extension\":\"101\"\r\n    },\r\n    \"called\":[\r\n       {\r\n          \"isConnected\":true,\r\n          \"name\":\"John Doe\",\r\n          \"extension\":\"100\"\r\n       },\r\n       {\r\n          \"isConnected\":false,\r\n          \"name\":\"u3 u3\",\r\n          \"extension\":\"102\",\r\n          \"phone\":\"+15551112235\"\r\n       }\r\n    ],\r\n    \"businessNumber\":\"+15550152729\",\r\n    \"dateTimeUtc\":\"2018-06-05T13:38:29.522Z\",\r\n    \"duration\":\"23066\",\r\n    \"direction\":\"Outgoing\",\r\n    \"callStatus\":\"Connected\",\r\n    \"callRecord\":{\r\n       \"fileName\":\"records/T1U9YWttaWdodHljYWxfRjk1MjJFM0RFQjJGNDJBM0JDRDk2MjdCNTFBNDM0QTksT1U9WWFuZGV4LE9VPUluZnJhdGVsLERDPXJ1LERDPW1pZ2h0eWNhbGwsREM9ZGV20/7e734dc1-544d-4f04-8ccc-8bd5b197a88c.wav\",\r\n       \"uri\": \".../files/callrecord_20180605_1338_u2_u2.wav?recordid=[record-id]\"\r\n }\r\n```","operationId":"Calls_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Call id unique identifier, in `Guid` format: 36 symbols with dashes, e.g. '7e734dc1-544d-4f04-8ccc-8bd5b197a88c'","required":true,"type":"string"}],"responses":{"200":{"description":"OK. In case of success, the response contains list of the available calls.","schema":{"$ref":"#/definitions/DomainObjects.CrmApi.OkResult[API.HttpService.Entities.Call]"},"examples":{"application/json":{"data":{"id":"7e734dc1-544d-4f04-8ccc-8bd5b197a88c","caller":{"name":"u2 u2","extension":"101"},"called":[{"isConnected":true,"name":"John Doe","extension":"100"},{"isConnected":false,"name":"u3 u3","extension":"102","phone":"+15551112235"}],"businessNumber":"+15550152729","dateTimeUtc":"2018-06-05T13:38:29.522+00:00","duration":"23066","direction":"Outgoing","callStatus":"Connected","callRecord":{"fileName":"records/T1U9YWttaWdodHljYWxfRjk1MjJFM0RFQjJGNDJBM0JDRDk2MjdCNTFBNDM0QTksT1U9WWFuZGV4LE9VPUluZnJhdGVsLERDPXJ1LERDPW1pZ2h0eWNhbGwsREM9ZGV20/7e734dc1-544d-4f04-8ccc-8bd5b197a88c.wav","uri":"http://localhost/Mightycall/Files/callrecord_20180605_1338_u2 u2.wav?recordid=fdaqSwNP4TGQT_1Zq-j8_AY2uKfTk-D3Vn2JFYdw4gogE54biOue4TYCdKL7EZvD8QXPeTwAiElxZqfOQ5Hw1fP1TFfYwR-FgODHtICfFOz7qSMTUPBoMekix2oE3aNUggIiYfsISKwzgtE-bgbpmczJf-cPLqWm4_V8WckFEMUBLIqQqI0g3XqIvVw_1EGmzp5hi7hPs-GqDneQwcGNg2LA7qGbl-eQ07LqeDW_qtEeTrWDDzv-G_FrjboX6U52ivtDdsJJnp7785rSvIp17gfjBMely9UI1B2M2Y8AsgTpgAmY7PhCfg2&id=T1U9YWttaWdodHljYWxfRjk1MjJFM0RFQjJGNDJBM0JDRDk2MjdCNTFBNDM0QTksT1U9WWFuZGV4LE9VPUluZnJhdGVsLERDPXJ1LERDPW1pZ2h0eWNhbGwsREM9ZGV20"}},"isSuccess":true}}},"400":{"description":"Bad Request. Returns error if call with call id is not found or has invalid format.","schema":{"$ref":"#/definitions/API.HttpService.Entities.SimpleErrorResultDocumentation"},"examples":{"application/json":{"message":"Call not found"}}}},"deprecated":false}},"/calls/makecall":{"post":{"tags":["Calls"],"summary":"Make call","description":"Method allows to start an outgoing call from one of the business numbers of authorized user to an external number. This method can return:\r\n* information about a particular call based on it’s ID {id}\r\n\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Calls_Make","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MakeCallModel"}}],"responses":{"200":{"description":"OK. Returns newly created call object.","schema":{"$ref":"#/definitions/DomainObjects.CrmApi.OkResult[API.HttpService.Entities.Call]"},"examples":{"application/json":{"data":{"id":"66e8ad78-7baa-4f9f-b3e8-d259a425db9a","caller":{"name":"John Doe"},"called":[{"isConnected":false,"phone":"+15550152729"}],"businessNumber":"+15551112233","dateTimeUtc":"2019-05-07T07:59:59.2848358+00:00","duration":null,"direction":"Outgoing","callStatus":null,"callRecord":null},"isSuccess":true}}},"400":{"description":"Bad Request. Some request parameter is invalid: at least one of the input phone numbers is invalid number.","schema":{"$ref":"#/definitions/API.HttpService.Entities.BadRequestResultDocumentation"},"examples":{"application/json":{"message":"The request is invalid.","modelState":{"model.From":["Invalid phone number format."]}}}}},"deprecated":false}},"/contactCenter/communications":{"get":{"tags":["CommunicationsThread"],"operationId":"List","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"resolveContacts","in":"query","description":"Determines if contacts should be resolved (resolveContacts=true) or not (resolveContacts=false). If it is set in true, request result will be populated with contacts object resolved in the contact book using client's phone numbers.\r\nBy default it is `false` (do not resolve contacts).","required":false,"type":"boolean"},{"name":"showExternalContacts","in":"query","required":false,"type":"boolean"},{"name":"showUsers","in":"query","required":false,"type":"boolean"},{"name":"pageSize","in":"query","description":"The count of rows to display in one result portion (page). If omitted, the default value is '100'. \r\nShould be a positive integer number.\r\nExample: ```/journal/requests?pageSize=20```","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"The number of page to return. Pagination should start from '1'. If omitted, the default value is '1'. \r\nShould be a positive integer number.\r\nExample: '/journal/requests?page=3'","required":false,"type":"integer","format":"int32"},{"name":"reverse","in":"query","required":false,"type":"boolean"},{"name":"inbound","in":"query","required":false,"type":"string","enum":["Missed","Connected","VoiceMail","Dropped","NoAnswer","Scheduled","Message","All"]},{"name":"outbound","in":"query","required":false,"type":"string","enum":["Missed","Connected","VoiceMail","Dropped","NoAnswer","Scheduled","Message","All"]},{"name":"callbacks","in":"query","required":false,"type":"string","enum":["Missed","Connected","VoiceMail","Dropped","NoAnswer","Scheduled","Message","All"]},{"name":"origin","in":"query","description":"Specifies from where request coming from.\r\nSpecial value 'all' could be used to point to the all origins.\r\nWhen quering the requests and this item is omitted, requests of all origins will be searched (origin=all).","required":false,"type":"string","enum":["Unspecified","Inbound","Outbound","Callback","Internal","All"]},{"name":"state","in":"query","description":"Specifies the result state of the request.\r\nExample: ```/journal/requests?state=connected```","required":false,"type":"string","enum":["Missed","Connected","VoiceMail","Dropped","NoAnswer","Scheduled","Message","All"]},{"name":"isRead","in":"query","description":"Filter read voicemails and unread voicemails.\r\nThis flag can't be used without ```inbound=voiceMail```\r\nExample: ```/journal/requests?isRead=true```","required":false,"type":"boolean"},{"name":"groupId","in":"query","description":"Comma separated sequence of Guid\r\nExample: ```/journal/requests?groupId=286e70d2-1722-48fb-bf08-91db248b8b91,38563f70-f64e-44da-9294-73f3c6239c2f```","required":false,"type":"string"},{"name":"userId","in":"query","description":"Comma separated sequence of Guid\r\nExample: ```/journal/requests?userId=286e70d2-1722-48fb-bf08-91db248b8b91,38563f70-f64e-44da-9294-73f3c6239c2f```","required":false,"type":"string"},{"name":"vmBoxId","in":"query","description":"Comma separated sequence of Guid\r\nExample: ```/journal/requests?VmBoxId=00000000-0000-0000-0000-000000000001,38563f70-f64e-44da-9294-73f3c6239c2f```","required":false,"type":"string"},{"name":"type","in":"query","description":"Specifies type of request.\r\nSpecial value 'all' could be used to point to the all types.\r\nWhen quering the requests and this item is omitted, requests of all types will be searched (type=all).","required":false,"type":"string","enum":["Unspecified","Call","Message","MessageThread","Task","CallbackRequest","Service","Default","All"]},{"name":"from","in":"query","description":"Specifies The start date and time in UTC of the period to get records from. This is a string in the ISO 8601 format, example:\r\n```journal/requests?from=2018-08-05T2:08:56.831Z```","required":false,"type":"string","format":"date-time"},{"name":"earliest","in":"query","required":false,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"Specifies the end date and time in UTC of the period to get records from. This is a string in the ISO 8601 format, example:\r\n```journal/requests?to=2019-08-05T2:08:56.831Z```","required":false,"type":"string","format":"date-time"},{"name":"latest","in":"query","required":false,"type":"string","format":"date-time"},{"name":"phone","in":"query","description":"Specifies one or several client phone numbers, comma separated if multiple, example:\r\n```journal/requests?phone=+15554553000,+15554553001```","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"wfState","in":"query","description":"Specifies the workflow state of requests:\r\n```journal/requests?wfstate=Open,Resolved```","required":false,"type":"string","enum":["Open","Finished","Resolved","All"]},{"name":"searchProperty","in":"query","description":"Specifies the search param of requests:\r\n```journal/requests?searchProperty=Client```\r\nIf this parameter is not passed, the search is performed on all parameters at the same time","required":false,"type":"string","enum":["Client","BusinessNumber","Comment","VTT"]},{"name":"searchText","in":"query","required":false,"type":"string"},{"name":"businessNumber","in":"query","description":"Specifies one or more business phone numbers without a plus sign, comma separated if multiple, example:\r\n```journal/requests?businessNumber=15554553999,15554554000```","required":false,"type":"string"}],"responses":{"200":{"description":"OK. In case of success, the response contains list of the request models, current page and error info if it necessary.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[Infratel.JournalLibrary.Models.RequestListModel]"},"examples":{"application/json":{"data":{"currentPage":1,"requests":[{"respondedAt":"2026-04-19T22:10:53.8132379Z","id":"5d565c298558e7cce8d7b8e0","requestGuid":"00000000-0000-0000-0000-000000000000","state":"connected","client":{"address":"+15557775566","resolvedContacts":[{"etag":"48d6f309158df276","contactId":"5d47f2288558e62b682f3f3a","firstName":"Jane","lastName":"Doe","patronymic":"Petrovich","created":"2019-08-05T09:08:56.831+00:00","updated":"2019-08-06T09:49:26.138+00:00","comment":"This is very important client","tags":["VIP","IMPORTED 2019-08-14T09:02:50.024Z"],"channels":[{"phone":"+15557775566"},{"phone":"+15552221133"},{"email":"jnde@mghtyc.co"}]}],"type":"phoneNumber","callerKind":"default"},"type":"call","created":"2019-07-05T09:08:56.831+00:00","businessNumber":{"number":"+15557775533","label":"My Local Number"},"businessNumbersCount":0,"tags":["VIP","WEST COAST"],"agent":{"id":"6b02f2a4-c5ce-443e-a880-5cdcef74ce2d","agentRole":"callOwner","name":"Jhon Doe","extension":"100","forwardingNumber":"+15556545566","phone":"+15556545555","role":"agent","email":"jd@mghtyc.co","type":"user"},"origin":"inbound","comment":"Need to send  a standard contract","favorite":true,"textModel":{"text":"text goes here","availability":"available"},"text":"text goes here","duration":"00:01:20","voicemail":{"duration":"00:00:32","text":"Voicemail text","speechRecognitionStatus":"success","assignee":{"id":"6b02f2a4-c5ce-443e-a880-5cdcef74ce2d","agentRole":"callOwner","name":"Jhon Doe","extension":"100","forwardingNumber":"+15556545566","phone":"+15556545555","role":"agent","email":"jd@mghtyc.co","type":"user"},"recording":{"recordingId":"<recordid>","duration":"00:00:32","flag":"public","status":"recorded","link":"<recordlink>","availability":"available"},"availability":"available"},"recording":{"recordingId":"<recordid>","duration":"00:00:32","flag":"public","status":"recorded","link":"<recordlink>","availability":"available"},"read":false,"wfstate":{"state":"open"},"availability":"available"}]}}}},"400":{"description":"Bad Request. Returns error if filter is not found or has invalid format.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.Dictionary[System.String,System.String]]"},"examples":{"application/json":{"errorCode":"InvalidParameters","message":"Input data is malformed. Please check your input is correctly formatted and is applicable to this method."}}},"403":{"description":"Forbidden. Tenant with your role have no access to this method.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"TenantAccountRoleIssue","message":"Tenant with your role have no access to this method"}}}},"deprecated":false}},"/contactCenter/communications/{requestId}/comment":{"post":{"tags":["CommunicationsThread"],"operationId":"CommunicationsThread_SaveCommentAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded","text/plain"],"produces":["application/json","text/json"],"parameters":[{"name":"comment","in":"body","required":true,"schema":{"type":"string","example":"I am a comment!"}},{"name":"requestId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK. Response contains object with message 'updated'","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkResponse"},"examples":{"application/json":{"message":"updated"}}},"400":{"description":"Bad Request. Returns if request id(s) has invlid format","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"RequestIdHasInvalidFormat","message":"Request Id(s) has invalid format"}}},"404":{"description":"Not Found. Returns if request with such id is not found","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"RequestIsNotFound","message":"Request is not found"}}}},"deprecated":false},"delete":{"tags":["CommunicationsThread"],"operationId":"CommunicationsThread_DeleteCommentAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"requestId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK. Response contains object with message 'deleted'","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkResponse"},"examples":{"application/json":{"message":"updated"}}},"400":{"description":"Bad Request. Returns if request id is invalid","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"RequestIdHasInvalidFormat","message":"Request Id(s) has invalid format"}}},"404":{"description":"Not Found. Returns if request with such is id not found","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"RequestIsNotFound","message":"Request is not found"}}}},"deprecated":false}},"/contactCenter/communications/voicemails":{"delete":{"tags":["CommunicationsThread"],"operationId":"CommunicationsThread_DeleteVoiceMailsAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"requestIds","in":"query","required":true,"type":"string"},{"name":"removeText","in":"query","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK. Response contains object with message 'deleted'","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkResponse"},"examples":{"application/json":{"message":"deleted"}}},"400":{"description":"Bad Request. Returns if request id is invalid","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"RequestIdHasInvalidFormat","message":"Request Id(s) has invalid format"}}},"403":{"description":"Forbidden. Tenant with your role have no access to this method.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"TenantAccountRoleIssue","message":"Tenant with your role have no access to this method"}}},"404":{"description":"Not Found. Returns if request with such is id not found","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"RequestIsNotFound","message":"Request is not found"}}}},"deprecated":false}},"/contactCenter/contacts/{contactId}":{"get":{"tags":["Contact"],"operationId":"Contact_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false},"delete":{"tags":["Contact"],"operationId":"Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK. Contact successfuly deleted.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.InteractionContactDeleteResponseOk"},"examples":{"application/json":{"data":{"eventType":1,"deletedContactIds":["641af58b820d61d608fea406"]}}}},"400":{"description":"Bad Request. Cant delete contact because of error.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"ContactDataMalformed","message":"Error info"}}},"403":{"description":"Forbidden. Can't delete CRM-related contact.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"AccessDenied","message":"Cant delete contact with CRM contacts"}}},"404":{"description":"NotFound. Contacts is not found.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}}},"deprecated":false},"patch":{"tags":["Contact"],"operationId":"Contact_PatchContactAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","required":true,"type":"string"},{"name":"etag","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.etag","in":"query","description":"Current ETag of contact","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.internalCallUsers","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.timestamp","in":"query","required":false,"type":"string","format":"date-time"},{"name":"contactPatch.patchData.actualInteraction.widgetAddress","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.businessNumber","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.clientAddress","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.text","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.requestState","in":"query","required":false,"type":"string","enum":["Missed","Connected","Replied","VoiceMail","Dropped","NoAnswer","Message"]},{"name":"contactPatch.patchData.actualInteraction.requestType","in":"query","required":false,"type":"string","enum":["Undefined","Call","VoiceMail","Message","Task","CallbackRequest","ServiceCall","MessageThread"]},{"name":"contactPatch.patchData.actualInteraction.callOrigin","in":"query","required":false,"type":"string","enum":["Undefined","Incoming","Outgoing","Callback","Internal"]},{"name":"contactPatch.patchData.actualInteraction.evt","in":"query","required":false,"type":"string","enum":["Unknown","Initial","Dialing","Connected","Hold","Unhold","Completed","SmsMms","VoicemailTranscribed","CrmResolved","ClientRead","Transfer","VoiceMail","TooManySmsMmsRequests","Quequed"]},{"name":"contactPatch.patchData.actualInteraction.read","in":"query","required":false,"type":"boolean"},{"name":"contactPatch.patchData.actualInteraction.connectedUserIds","in":"query","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.users","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.attachmentFileNames","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.messageOrigin","in":"query","required":false,"type":"string","enum":["Unknown","Inbound","Outbound"]},{"name":"contactPatch.patchData.actualInteraction.requestGuid","in":"query","required":false,"type":"string","format":"uuid"},{"name":"contactPatch.patchData.resolvedExternalContacts","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.userGuid","in":"query","description":"User guid if the contact is an Agent (internal contact for internal call)","required":false,"type":"string","format":"uuid"},{"name":"contactPatch.patchData.isAutomatic","in":"query","required":false,"type":"boolean"},{"name":"contactPatch.patchData.contactOperationEvent.eventType","in":"query","required":false,"type":"string","enum":["CRUD","Import"]},{"name":"contactPatch.patchData.contactOperationEvent.createdContacts","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.contactOperationEvent.updatedContacts","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.contactOperationEvent.deletedContactIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.teamUserOperationEvent.createdUsers","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.teamUserOperationEvent.updatedUsers","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.teamUserOperationEvent.deletedUserGuids","in":"query","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.avatarUrl","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.contactId","in":"query","description":"Unique identifier of the contact, 24 symbols of length. Should match the regular expression ^[0-9a-fA-F]{24}$","required":false,"type":"string"},{"name":"contactPatch.patchData.firstName","in":"query","description":"First name of the contact. Field won't be returned if it doesn't exsist in the database","required":false,"type":"string"},{"name":"contactPatch.patchData.lastName","in":"query","description":"Last name of the contact. Field won't be returned if it doesn't exsist in the database","required":false,"type":"string"},{"name":"contactPatch.patchData.patronymic","in":"query","description":"Middle name (Patronymic) of the contact. Field won't be returned if it doesn't exsist in the database","required":false,"type":"string"},{"name":"contactPatch.patchData.created","in":"query","description":"Time in UTC when contact was created","required":false,"type":"string","format":"date-time"},{"name":"contactPatch.patchData.updated","in":"query","description":"Time in UTC of last update","required":false,"type":"string","format":"date-time"},{"name":"contactPatch.patchData.comment","in":"query","description":"Comment to this contact","required":false,"type":"string"},{"name":"contactPatch.patchData.tags","in":"query","description":"List of tags contact is marked with","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.channels","in":"query","description":"List of the contact records","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.state","in":"query","description":"Record State. Persists only for deleted contact with value \"deleted\".","required":false,"type":"string"},{"name":"contactPatch.patchData.role","in":"query","description":"Role if the contact is an internal contact (agent)","required":false,"type":"string"},{"name":"contactPatch.requestedFields","in":"query","required":false,"type":"array","items":{"type":"string","enum":["FirstName","LastName","Patronymic","Comment","Tags","Channels"]},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/contactCenter/contacts":{"get":{"tags":["Contact"],"operationId":"Contact_SearchAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"agentId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"page","in":"query","description":"The number of page to return. Pagination should start from '1'. If omitted, the default value is '1'. \r\nShould be a positive integer number.\r\nExample: ```../contacts?page=3```","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"all","in":"query","description":"Specifies search should be performed in the available fields.\r\nExample: ```/contacts?all=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name","in":"query","description":"Specifies search should be performed in contact's first name, last name and middle name.\r\nExample: ```/contacts?name=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"phone","in":"query","description":"Specifies search should be performed in contact's phone numbers.\r\nExample: ```/contacts?phone=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"email","in":"query","description":"Specifies search should be performed in contact's emails.\r\nExample: ```/contacts?email=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"label","in":"query","description":"Specifies search should be performed in contact's channels in labels.\r\nExample: ```/contacts?label=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tag","in":"query","description":"Specifies search should be performed in contact's tags.\r\nExample: ```/contacts?tag=555```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"comment","in":"query","description":"Specifies search should be performed in contact's comment.\r\nExample: ```/contacts?comment=555```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"updatedSince","in":"query","description":"If properly set, method will return contacts whose 'Updated' date is greater than the parameter value passed in.\r\nShould be a Datetime string in  ISO 8601 format.\r\nNote: Deleted contacts will have state property with \"deleted\" value.\r\nExample: ```../contacts?updatedSince=2019-08-05T09:07:00.831Z```","required":false,"type":"string","format":"date-time"},{"name":"includeAuto","in":"query","description":"If property set, method will return contacts auto = true.\r\nExample: ```../contacts?includeAuto=true```","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DomainObjects.CrmApi.OkResult[API.HttpService.Models.Contacts.ListContactsResultModel]"}}},"deprecated":false},"post":{"tags":["Contact"],"operationId":"Contact_CreateContactAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"createContactModel","in":"body","required":true,"schema":{"$ref":"#/definitions/API.HttpService.Models.ContactCenter.CreateContactModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/contactCenter/contacts/import":{"post":{"tags":["Contact"],"operationId":"Contact_Import","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"tzoffset","in":"query","required":true,"type":"integer","format":"int32"},{"name":"force","in":"query","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/contactCenter/contacts/bytag":{"delete":{"tags":["Contact"],"operationId":"Contact_DeleteContactListAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"tag","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/contactCenter/contacts/{contactId}/channels/{channelId}":{"put":{"tags":["Contact"],"summary":"Update (replace) channel","description":"Fully replaces a channel with specified channel id by new data in the request body. New channel ids will be created by the server, all the channels the contact had, will be deleted and new data placed instead of the existing channels. Create Auto Contact for old number and update Actual interaction.\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"ContactsChannel_UpdateChannel","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to update channel in. This string is 24 symbols of length. Should match the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"},{"name":"channelId","in":"path","description":"Unique identifier of the channel to be deleted. This should be a GUID string, e.g. 'b1774ee9-4f24-4490-abf6-a3e67576cd20'","required":true,"type":"string"},{"name":"channelModel","in":"body","description":"The input data object, containing channel properties","required":true,"schema":{"$ref":"#/definitions/Infratel.ContactsLibrary.Models.ChannelModel"}},{"name":"etag","in":"query","description":"Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)","required":false,"type":"string"}],"responses":{"200":{"description":"Created. In case of success, the response contains the message 'Created' and the channel's data that has replaced existing contact's data.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[API.HttpService.Models.Contacts.ChannelResponse]"},"examples":{"application/json":{"data":{"channel":{"channelId":"f13322f5-0c80-4e15-aaef-aa57fd5ede72","labels":["primary number"],"phone":"+18885551110"},"etag":"48d6e9031aa435be"},"message":"Updated"}}},"400":{"description":"Bad request. Returns 400 Bad Request if \r\n* contact id has wrong format\r\n* channel id has wrong format\r\n* channel data is malformed - for example, phone number or email address has incorrect format","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[API.HttpService.Models.Contacts.ErrorItem]]"},"examples":{"application/json":{"data":[{"errorCode":"ChannelPhoneNumberIsInvalid","attemptedValue":"+1806555"},{"errorCode":"LabelsAreInvalid","attemptedValue":"$#%$@$#!#@$#"}],"errorCode":"ChannelDataMalformed","message":"Channel data is malformed"}}},"403":{"description":"Forbidden. \r\n* Returns errorCode 'ContactsLimitExceeded' if max contacts count limit has been exceeded. You can not edit contact, if you have more contacts than your tariff plan allows to have. Use `contacts/limits` method to determine your current contacts limits.\r\n* Can't delete CRM-related contact.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"404":{"description":"Not Found. Contact id or channel id specified in the request url was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false},"delete":{"tags":["Contact"],"summary":"Delete channel","description":"Deletes one channel from the Contact's channels list. Once deleted, the channel could not be restored. Create Auto Contact for deleted number and update Actual interaction.\r\n### Request headers:\r\n```\r\nAuthorization: Bearer {auth_token}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```\r\nRequest example: ```DELETE ../contacts/5cc6a8dd8558e85c849e0308/channels/b1774ee9-4f24-4490-abf6-a3e67576cd20```","operationId":"ContactsChannel_DeleteChannel","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to delete channel from. This string is 24 symbols of length. Should match the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"},{"name":"channelId","in":"path","description":"Unique identifier of the channel to be deleted. This should be a GUID string, e.g. 'b1774ee9-4f24-4490-abf6-a3e67576cd20'","required":true,"type":"string"},{"name":"etag","in":"query","description":"Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)","required":false,"type":"string"}],"responses":{"200":{"description":"OK. Returns 'Deleted' status message","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkResponse"},"examples":{"application/json":{"message":"Deleted"}}},"400":{"description":"Bad request. Returns 400 Bad Request if contact id or channel id is not valid","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ChannelIdHasInvalidFormat","message":"Channel 'some-invalid-channel-id' has invalid format"}}},"403":{"description":"Forbidden. Can't delete CRM-related contact.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"AccessDenied","message":"Cant delete contact with CRM contacts"}}},"404":{"description":"Not Found. Either contact id or channel id was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false},"patch":{"tags":["Contact"],"summary":"Patch channel","description":"Replace only not null fields from channelModel\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"ContactsChannel_PatchChannel","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to update channel in. This string is 24 symbols of length. Should match the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"},{"name":"channelId","in":"path","description":"Unique identifier of the channel to be deleted. This should be a GUID string, e.g. 'b1774ee9-4f24-4490-abf6-a3e67576cd20'","required":true,"type":"string"},{"name":"channelModel","in":"body","description":"The input data object, containing channel properties","required":true,"schema":{"$ref":"#/definitions/Infratel.ContactsLibrary.Models.ChannelModel"}}],"responses":{"200":{"description":"Created. In case of success, the response contains the message 'Created' and the channel's data that has replaced existing contact's data.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[API.HttpService.Models.Contacts.ChannelResponse]"},"examples":{"application/json":{"data":{"channel":{"channelId":"f13322f5-0c80-4e15-aaef-aa57fd5ede72","labels":["primary number"],"phone":"+18885551110"},"etag":"48d6e9031aa435be"},"message":"Updated"}}},"400":{"description":"Bad request. Returns 400 Bad Request if \r\n* contact id has wrong format\r\n* channel id has wrong format\r\n* channel data is malformed - for example, phone number or email address has incorrect format","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[API.HttpService.Models.Contacts.ErrorItem]]"},"examples":{"application/json":{"data":[{"errorCode":"ChannelPhoneNumberIsInvalid","attemptedValue":"+1806555"},{"errorCode":"LabelsAreInvalid","attemptedValue":"$#%$@$#!#@$#"}],"errorCode":"ChannelDataMalformed","message":"Channel data is malformed"}}},"403":{"description":"Forbidden. \r\n* Returns errorCode 'ContactsLimitExceeded' if max contacts count limit has been exceeded. You can not edit contact, if you have more contacts than your tariff plan allows to have. Use `contacts/limits` method to determine your current contacts limits.\r\n* Can't delete CRM-related contact.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"404":{"description":"Not Found. Contact id or channel id specified in the request url was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false}},"/contactCenter/contacts/{contactId}/channels":{"post":{"tags":["Contact"],"summary":"Add channel","description":"Creates new channel for the contact. 'Channel' means some communication channel with your contact, e.g. phone number or email address. Fills ActualInteraction if it's null or empty.\r\nYou can create either phone number or email.\r\n* to create **phone**, send phone request object, e.g. ```{\"phone\":\"+18065551234\"}```,\r\n* to create **email**, send email object, e.g. ```{\"email\":\"my@mghtc.co\"}```,\r\n* to add some labels to your channel, provide them as an array of strings: ```{\"phone\":\"+18065551234\", \"labels\":[\"primary number\", \"other info\"]}```.\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"ContactsChannel_AddChannel","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to add a channel to. This string is 24 symbols of length and satisfy the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"},{"name":"channelModel","in":"body","description":"Channel data object, contains channel attributes.","required":true,"schema":{"$ref":"#/definitions/Infratel.ContactsLibrary.Models.ChannelModel"}},{"name":"etag","in":"query","required":false,"type":"string"}],"responses":{"201":{"description":"Created. In case of success, the response contains the message 'Created' and the channel's data that has been added.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[API.HttpService.Models.Contacts.ChannelResponse]"},"examples":{"application/json":{"data":{"contactOperationEvent":{"eventType":1,"createdContacts":[{"contactId":"6405a6fbd86a4de1edf0cab0","channels":[{"channelId":"f13322f5-0c80-4e15-aaef-aa57fd5ede72","labels":["primary number"]}]}]},"channel":{"channelId":"f13322f5-0c80-4e15-aaef-aa57fd5ede72","labels":["primary number"],"phone":"+18885551110"},"etag":"48d6e9031aa435be"},"message":"Created"}}},"400":{"description":"Bad request. Returns 400 Bad Request if \r\n* contact id is not valid\r\n* channel data is malformed - for example, phone number or email address has incorrect format","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[API.HttpService.Models.Contacts.ErrorItem]]"},"examples":{"application/json":{"data":[{"errorCode":"ChannelPhoneNumberIsInvalid","attemptedValue":"+1806555"},{"errorCode":"LabelsAreInvalid","attemptedValue":"$#%$@$#!#@$#"}],"errorCode":"ChannelDataMalformed","message":"Channel data is malformed"}}},"403":{"description":"Forbidden. \r\n* Returns errorCode 'ContactsLimitExceeded' if max contacts count limit has been exceeded. You can not edit contact, if you have more contacts than your tariff plan allows to have. Use `contacts/limits` method to determine your current contacts limits.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"404":{"description":"Not Found. Contact id specified in the request url was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"409":{"description":"Conflict.\r\nThis is a conflict response with errorCode 'ContactRecordsIntersection', also response has a list of contacts with intersection. \r\n\r\n```\r\n{\r\n    \"errorCode\":\"ContactRecordsIntersection\", \r\n    \"message\":\"Contact Records Intersection\",\r\n    \"data\":[\r\n        //array items: contact objects\r\n]}\r\n```","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[Infratel.ContactsLibrary.Models.ContactModel]]"},"examples":{"application/json":{"data":[{"contactId":null,"firstName":"John","channels":[{"channelId":"5cbec7858558ea749cd955ba","phone":"+1700555112230"}]},{"contactId":null,"firstName":"Jane","channels":[{"channelId":"5cbec7858558ea749cd955b2","phone":"+1700555112230"}]}],"errorCode":"ContactRecordsIntersection","message":"Contact Records Intersection"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false}},"/contactCenter/contacts/internal/{userGuid}":{"delete":{"tags":["Contact"],"operationId":"InternalDelete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"userGuid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK. Internal contacts successfuly deleted.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkResponse"},"examples":{"application/json":{"message":"Deleted"}}},"400":{"description":"Bad Request. userId must be not empty.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"ContactDataMalformed","message":"Error info"}}},"403":{"description":"Forbidden:\r\n* self deletion not allowed\r\n* user:role:delete no access","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"AccessDenied","message":"Cant delete contact with CRM contacts"}}}},"deprecated":false}},"/contactCenter/contacts/{contactId}/readMessage":{"post":{"tags":["Contact"],"operationId":"SetSmsMmsReadState","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK. Sms/Mms read status updated.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkResponse"},"examples":{"application/json":{"message":"updated"}}},"404":{"description":"NotFound. Contacts is not found.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.BaseErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}}},"deprecated":false}},"/contactcenter/messages/send":{"post":{"tags":["ContactCenterMessages"],"summary":"Send SMS/MMS","description":"Sends an SMS/MMS with the parameters specified in the request body.\r\nThis API method provides the same functionality as the UI of the user's account.\r\nThe SMS will appear in the message history and will update SMS usage information.\r\n            \r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Messages_Send","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"SMS/MMS send request.","required":true,"schema":{"$ref":"#/definitions/API.HttpService.Models.SMS.SmsSendRequest"}}],"responses":{"200":{"description":"OK. Returns if the request was successfully processed.","schema":{"$ref":"#/definitions/API.HttpService.Models.SMS.SmsSendResponse"},"examples":{"application/json":{"message":"SMS message sent successfully.","id":"00000000-0000-0000-0000-000000000000","sourcePhoneNumber":"+12345678910","destinationPhoneNumbers":["+12345678901"],"sendTime":"0001-01-01T00:00:00","attachments":null}}},"400":{"description":"Bad Request. Returns if request is invalid.","schema":{"$ref":"#/definitions/API.HttpService.Entities.BadRequestResultDocumentation"},"examples":{"application/json":{"message":"The request is invalid.","modelState":{"from":["Source phone number is required."]}}}},"403":{"description":"Forbidden. Returns if the server refuses to fulfill the request.","schema":{"$ref":"#/definitions/API.HttpService.Entities.SimpleErrorResultDocumentation"},"examples":{"application/json":{"message":"Failed to send message."}}},"429":{"description":"Too Many Requests. Returns when the user has sent too many requests in a given amount of time (\"rate limiting\").","schema":{"$ref":"#/definitions/API.HttpService.Entities.SimpleErrorResultDocumentation"},"examples":{"application/json":{"message":"Too many requests. Retry after 0000-00-00T00:00:00.0000000 UTC"}}}},"deprecated":false}},"/contacts":{"get":{"tags":["Contacts"],"summary":"List contacts","description":" Returns a list of contacts with pagination information. The handler will return existing contacts by default. If <code>?updatedSince</code> query parameter passed through a response will include deleted records either with <code>state: \"deleted\"</code> property.\r\n If no query string filter is specified, the first page of the available tenant's contacts list will be returned back. \r\n This means that default paging parameters will be applied:\r\n **pageSize=100** and **page=1**.\r\n Therefore query string filter <code>../contacts</code> will execute as: <code>../contacts?pageSize=100&amp;page=1</code>\r\n \r\n ### Request headers:\r\n ```\r\n Authorization: Bearer {auth_token}\r\n x-api-key: {api_key}\r\n ```\r\n ### Response headers:\r\n ```\r\n Content-Type: application/json\r\n ```\r\n \r\n Standard contacts response is as follows:\r\n  ```javascript\r\n { \r\n     \"data\": { \r\n         \"pages\": pages,  //total number of pages satisfying the request\r\n         \"records\": records, //total count of contacts satisfying the request,\r\n         \"currentPage\": currentPage, //current page number (default is 1), \r\n         \"contacts\": [\r\n             //array items: contact objects\r\n         ] }\r\n  }\r\n ```\r\n To find some contact or contacts, this method call could be specified with query string search parameters. Search parameters should be added in the query string.\r\n If nothing found, 200 OK will be returned:\r\n ```javascript\r\n { \r\n     \"data\": { \r\n         \"pages\": 0, \r\n         \"records\": 0, \r\n         \"currentPage\": null, \r\n         \"contacts\": [] }\r\n  }\r\n  ```\r\n ### Example request: \r\n \r\n<code>\r\n../contacts/?name=John&amp;name=Sparrow&amp;phone=555&amp;label=work&amp;comment=my comment&amp;tag=sometag&amp;page=1&amp;pageSize=100\r\n</code>\r\n\r\n This searches contacts which:\r\n * First name, Last Name or Middle Name has both substrings \"John\" and \"Sparrow\",\r\n * phone should include \"555\",\r\n * labels should include label's substring \"work\",\r\n * comment field should include \"my comment\",\r\n * tag field should include substring \"sometag\",\r\n * display first page of the results\r\n * page size should be 100.","operationId":"Contacts_Search","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"agentId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"page","in":"query","description":"The number of page to return. Pagination should start from '1'. If omitted, the default value is '1'. \r\nShould be a positive integer number.\r\nExample: ```../contacts?page=3```","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"all","in":"query","description":"Specifies search should be performed in the available fields.\r\nExample: ```/contacts?all=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name","in":"query","description":"Specifies search should be performed in contact's first name, last name and middle name.\r\nExample: ```/contacts?name=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"phone","in":"query","description":"Specifies search should be performed in contact's phone numbers.\r\nExample: ```/contacts?phone=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"email","in":"query","description":"Specifies search should be performed in contact's emails.\r\nExample: ```/contacts?email=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"label","in":"query","description":"Specifies search should be performed in contact's channels in labels.\r\nExample: ```/contacts?label=searchWhat```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tag","in":"query","description":"Specifies search should be performed in contact's tags.\r\nExample: ```/contacts?tag=555```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"comment","in":"query","description":"Specifies search should be performed in contact's comment.\r\nExample: ```/contacts?comment=555```","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"updatedSince","in":"query","description":"If properly set, method will return contacts whose 'Updated' date is greater than the parameter value passed in.\r\nShould be a Datetime string in  ISO 8601 format.\r\nNote: Deleted contacts will have state property with \"deleted\" value.\r\nExample: ```../contacts?updatedSince=2019-08-05T09:07:00.831Z```","required":false,"type":"string","format":"date-time"},{"name":"includeAuto","in":"query","description":"If property set, method will return contacts auto = true.\r\nExample: ```../contacts?includeAuto=true```","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK. If there are contacts, response contains a list of the contacts and pagination information as well.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"contacts":[{"etag":"48d6e9031aa435be","contactId":null,"firstName":"John","lastName":"Doe","patronymic":"F.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"Some comment here","tags":["tag1","tag2"],"channels":[{"labels":["Work-email"],"email":"john.doe@mghtyc.co"},{"labels":["Work-phone"],"phone":"+1300555112230"}]},{"etag":"58d6e9031aa435be","contactId":null,"firstName":"Jane","lastName":"Doe","patronymic":"J.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"Some comment here","tags":["tag10","tag20"],"channels":[{"labels":["Work-email"],"email":"jane.doe@mghtyc.co"},{"labels":["Work-phone"],"phone":"+1255555356992"}]},{"etag":"58d6e9031aa435be","contactId":null,"firstName":"Jane","lastName":"Doe","patronymic":"J.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"Deleted contact","tags":["tag10","tag20"],"channels":[{"labels":["Work-email"],"email":"deleted.jane.doe@mghtyc.co"},{"labels":["Work-phone"],"phone":"+1255555356992"}],"state":"deleted"}],"pages":11,"records":55,"currentPage":2}}}},"400":{"description":"Bad Request. Returns if query string has one or more invalid filter parameters.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"data":{"unsupportedFilters":["someUnknownFilter"]},"errorCode":"FilterParamsMalformed","message":"Filter params malformed"}}}},"deprecated":false},"post":{"tags":["Contacts"],"summary":"Create contact","description":" Creates a new contact from the data passed in the request body and returns created contact back. The contact fields that could be created are listed below.\r\n \r\n ### Request headers:\r\n ```\r\n Content-Type: application/json\r\n Authorization: Bearer {auth_token}\r\n x-api-key: {api_key}\r\n ```\r\n ### Response headers:\r\n ```\r\n Content-Type: application/json\r\n ```\r\n \r\n Notes:\r\n * You should not pass contact id or channel id when creating data. Contact and channel ids are generated at the server side. If contact id or channel id is specified in the contact creation request, an error with http status ```400 Bad Request``` will be returned:\r\n ```javascript\r\n{\r\n    \"errorCode\": \"ContactIdIsNotEmpty\",\r\n    \"message\": \"You are not permitted to pass any contact id in this operation. Contact id parameter should not present.\"\r\n}\r\n```\r\n\r\n ```javascript\r\n{\r\n    \"errorCode\": \"ChannelIdIsNotEmpty\",\r\n    \"message\": \"You are not permitted to pass any contact id in this operation. Contact id parameter should not present.\"\r\n}\r\n```","operationId":"Contacts_CreateContact","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactModel","in":"body","required":true,"schema":{"$ref":"#/definitions/Infratel.ContactsLibrary.Models.BaseContactModel"}},{"name":"checkIntersection","in":"query","description":"Flag determines if intersection check should be applied or not. If checkIntersection=true, contact won't be created if there is another contact(s) with the same phone number.","required":false,"type":"boolean","default":false}],"responses":{"201":{"description":"Created. In case of success, the response contains the message 'Created' and the contact that has been created.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d6e9031aa435be","contactId":"1cbec7858558ea749cd955be","firstName":"John","lastName":"Doe","patronymic":"W.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"West coast","tags":["VIP-client"],"channels":[{"channelId":"5cbec7858558ea749cd955bf","labels":["Work-email"],"email":"john.doe@mghtyc.co"},{"channelId":"5cbec7858558ea749cd955ba","labels":["Work-phone"],"phone":"+1700555112233"}]},"message":"Created"}}},"400":{"description":"Bad Request. Input contact's  data is not valid","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactDataMalformed","message":"Contact data is malformed"}}},"403":{"description":"Forbidden. \r\n* Returns errorCode 'ContactsLimitExceeded' if max contacts count limit has been reached.\r\n* Returns 403 with errorCode 'EmailLimitExceeded' if max email addresses count limit has been reached. \r\n* Returns 403 with errorCode 'PhoneNumbersLimitExceeded' if max phone numbers count limit has been reached.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"409":{"description":"Conflict.\r\nThis is a conflict response with errorCode 'ContactRecordsIntersection', also response has a list of contacts with intersection. \r\n\r\n```\r\n{\r\n    \"errorCode\":\"ContactRecordsIntersection\", \r\n    \"message\":\"Contact Records Intersection\",\r\n    \"data\":[\r\n        //array items: contact objects\r\n]}\r\n```","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[Infratel.ContactsLibrary.Models.ContactModel]]"},"examples":{"application/json":{"data":[{"contactId":null,"firstName":"John","channels":[{"channelId":"5cbec7858558ea749cd955ba","phone":"+1700555112230"}]},{"contactId":null,"firstName":"Jane","channels":[{"channelId":"5cbec7858558ea749cd955b2","phone":"+1700555112230"}]}],"errorCode":"ContactRecordsIntersection","message":"Contact Records Intersection"}}}},"deprecated":false},"delete":{"tags":["Contacts"],"summary":"Delete contacts","description":"### Delete By id[]\r\nDeletes contacts with contact ids passed as input parameter. If there is no any contact with such id, 404 Not Found will be returned. Once deleted, the contact could not be restored.\r\n```\r\nDELETE ../contacts/?contactIds=contact-id-1,contact-id-2,...\r\n```\r\nwhere \"contact-id-1,contact-id-2\" is a comma separated list  of contact ids to delete./// \r\n### Delete by tag\r\nDeletes contacts with contact tags contains tag passed as input parameter. If there is no any contact with such a tag, 404 Not Found will be returned. Once deleted, the contact could not be restored.\r\n```\r\nDELETE ../contacts?tag=tag_value\r\n```\r\n### Request headers:\r\n```\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_DeleteContactList","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactIds","in":"query","description":"The list of the contact ids to be deleted. \r\n            Comma-separated ids of the contacts to be deleted. Each contact id  should be 24 symbols of length and satisfy the regular expression ```^[0-9a-fA-F]{24}$```","required":false,"type":"string"},{"name":"tag","in":"query","description":"The tag of contacts to be deleted.","required":false,"type":"string"}],"responses":{"200":{"description":"OK. On successful deletion, will return 'Deleted' message.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsDeleteManyOkResponse"},"examples":{"application/json":{"message":"Deleted"}}},"400":{"description":"Bad Request. Request is invalid or request data is malformed, e.g. some contact id has invalid format.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIdHasInvalidFormat","message":"Contact Id 'some-wrong-id' has invalid format"}}},"404":{"description":"Not Found. At least one of the contacts you specify to delete was not found in your contacts list or there is no any entry that matched a specified tag","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"data":{"notFoundIds":["5ca7344c8558e72278639cb3","5ca7344c8558e72278639cb4"]},"errorCode":"ContactIsNotFound","message":"Contact is not found"}}}},"deprecated":false}},"/contacts/{contactId}":{"get":{"tags":["Contacts"],"summary":"Get contact","description":"Returns existing contact by contact id passed in the request url. If there is no contact with such id, 404 Not Found will be returned.\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact, 24 symbols of length. Should match the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"}],"responses":{"200":{"description":"OK. Returns the list of one contact items.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.GetContactOkResponse"},"examples":{"application/json":{"data":{"contacts":[{"etag":"48d6e9031aa435be","contactId":null,"firstName":"John","lastName":"NEW LAST NAME","patronymic":"F.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"Some comment here","tags":["tag1","tag2"],"channels":[{"channelId":"5cbec7858558ea749cd955bf","email":"john.doe@mghtyc.co"},{"channelId":"5cbec7858558ea749cd955ba","labels":["Work-phone"],"phone":"+1700555112230"}]}]}}}},"400":{"description":"Bad Request. If passed contact is invalid.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIdHasInvalidFormat","message":"Contact Id 'some-wrong-id' has invalid format"}}},"404":{"description":"Not Found. The contact with contact id specified was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}}},"deprecated":false},"put":{"tags":["Contacts"],"summary":"Update (replace) contact","description":"This fully replaces existing contact data with a new one: the contact is get found by the id specified in the request url, than its data gets overwritten by the request body. \r\n            Note that channels array is also replaced by a new array specified in the request. So that, if some fields are omitted in your request body, those fields will be removed from the contact.\r\n            In case of success, the method returns HTTP status `201 Created`, as well as the contact have been created and 'Location' header pointing to that newly created contact resource. \r\n            Created contact contains generated contact Id and (if they were provided in the creation request) channel ids in the Channels array.\r\n            If you need to update just a part of data, e. g. one o several particular fields and to not change others, try to use the `PATCH ../contacts` method that allows to partially update the contact.\r\n               \r\n            Concurrent modification protection:\r\n            multiple clients could interfere modifications of each other. To prevent issues related to concurrent modifications ETag field was added to Contact's model. \r\n            ETag is an identifier that specifies a particular version of a particular contact. If you want to modify or delete some contact and you want to be notified if contact is modified from the moment \r\n            of last read, you can specify ETag in If-Match HTTP header. If ETag is outdated, the server responds with HTTP 412 Precondition Failed status code. If you are not able to specify If-Match header, \r\n            you can specify ETag as argument of request or in contact's body.        \r\n            \r\n            Request headers: \r\n            \r\n            Content-Type: application/json\r\n            Authorization: Bearer {auth_token}\r\n            x-api-key: {api_key}\r\n            \r\n            Response headers:\r\n            \r\n            Content-Type: application/json","operationId":"Contacts_UpdateContact","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to be updated.","required":true,"type":"string"},{"name":"contactModel","in":"body","required":true,"schema":{"$ref":"#/definitions/Infratel.ContactsLibrary.Models.ContactModel"}},{"name":"etag","in":"query","description":"Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)\r\n            Should match the regular expression ```^[0-9a-f]{16}$```. You can omit this argument or specify \"*\" without quotes to disable check of concurrent modification.","required":false,"type":"string"},{"name":"checkIntersection","in":"query","description":"Flag determines if intersection check should be applied or not. If checkIntersection=true, contact won't be updated if there is another contact(s) with the same phone number.","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK. In case of success, the response contains the message 'Updated' and the contact that has been updated, populated with new contact id and (if any) new channel ids","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d6e9031aa435be","contactId":null,"firstName":"John","lastName":"Doe","patronymic":"F.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"Some comment here","tags":["tag1","tag2"],"channels":[{"channelId":"5cbec7858558ea749cd955bf","labels":["Work-email"],"email":"john.doe@mghtyc.co"},{"channelId":"5cbec7858558ea749cd955ba","labels":["Work-phone"],"phone":"+1700555112230"}]},"message":"Updated"}}},"400":{"description":"Bad Request. Input contact's  data is not valid","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactDataMalformed","message":"Contact data is malformed"}}},"403":{"description":"Forbidden. \r\n* Returns 403 with errorCode 'ContactsLimitExceeded' if max contacts count limit has been exceeded. You can not edit contact, if you have more contacts than your tariff plan allows to have. Use `contacts/limits` method to determine your current contacts limits.\r\n* Returns 403 with errorCode 'EmailLimitExceeded' if max email addresses count limit has been reached. \r\n* Returns 403 with errorCode 'PhoneNumbersLimitExceeded' if max phone numbers count limit has been reached.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"404":{"description":"Not Found. The contact with contact id specified was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"409":{"description":"Conflict.\r\nThis is a conflict response with errorCode 'ContactRecordsIntersection', also response has a list of contacts with intersection. \r\n\r\n```\r\n{\r\n    \"errorCode\":\"ContactRecordsIntersection\", \r\n    \"message\":\"Contact Records Intersection\",\r\n    \"data\":[\r\n        //array items: contact objects\r\n]}\r\n```","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[Infratel.ContactsLibrary.Models.ContactModel]]"},"examples":{"application/json":{"data":[{"contactId":null,"firstName":"John","channels":[{"channelId":"5cbec7858558ea749cd955ba","phone":"+1700555112230"}]},{"contactId":null,"firstName":"Jane","channels":[{"channelId":"5cbec7858558ea749cd955b2","phone":"+1700555112230"}]}],"errorCode":"ContactRecordsIntersection","message":"Contact Records Intersection"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case, actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false},"delete":{"tags":["Contacts"],"summary":"Delete contact","description":"Deletes contact by specified contact id. Once deleted, the contact could not be restored. Only single contactId is allowed.\r\nDeleted contact will be present in response body.\r\n### Request headers:\r\n```\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_DeleteContact","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact, 24 symbols of length. Should match the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"},{"name":"etag","in":"query","description":"Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)\r\n            Should match the regular expression ```^[0-9a-f]{16}$```. You can omit this argument or specify \"*\" without quotes to disable check of concurrent modification.","required":false,"type":"string"}],"responses":{"200":{"description":"OK. On successful deletion, will return 'Deleted' message.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsDeleteOkResponse"},"examples":{"application/json":{"data":{"contacts":[{"etag":"48d6e9031aa435be","contactId":null,"firstName":"John","lastName":"NEW LAST NAME","patronymic":"F.","comment":"Some comment here","tags":["tag1","tag2"],"channels":[{"channelId":"5cbec7858558ea749cd955bf","email":"john.doe@mghtyc.co"},{"channelId":"5cbec7858558ea749cd955ba","labels":["Work-phone"],"phone":"+1700555112230"}]}]},"message":"Deleted"}}},"400":{"description":"Bad Request. If passed contact is invalid.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIdHasInvalidFormat","message":"Contact Id 'some-wrong-id' has invalid format"}}},"404":{"description":"Not Found. The contact with contact id specified was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case, actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false},"patch":{"tags":["Contacts"],"summary":"Patch contact","description":"This partially updates the contact with fields you specify in the request. The properties that are not in the request, won't be updated and stay the same, you update only those fields, that present in the input contact object in the body of your request. You can specify one or multiple properties.\r\n\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```\r\n\r\nThe common request body format is as follows:\r\n```javascript\r\n{\r\n\"firstName\":\"new first name\",\r\n\"lastName\":\"new last name\",\r\n\"patronymic\":\"new middle name\",\r\n\"comment\":\"new comment\",\r\n\"tags\":[\r\n    //new array of tags\r\n],\r\n\"channels\":[\r\n    //new array of channels\r\n]}\r\n```\r\n#Example 1 - update first name and last name only:\r\n```javascript\r\n{\r\n    \"firstName\":\"new first name\",\r\n    \"lastName\":\"new last name\",\r\n}\r\n```\r\n#Example 2 - update comment and replace all tags by the new  one: \"my-new-tag\":\r\n```javascript\r\n{\r\n    \"comment\":\"my new comment\",\r\n    \"tags\":[\"my-new-tag\"]\r\n}\r\n```","operationId":"Contacts_PatchContact","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to be patched","required":true,"type":"string"},{"name":"etag","in":"query","description":"Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)","required":false,"type":"string"},{"name":"checkIntersection","in":"query","description":"Flag determines if intersection check should be applied or not. If checkIntersection=true, contact won't be updated if there is another contact(s) with the same phone number.\r\n            Should match the regular expression ```^[0-9a-f]{16}$```. You can omit this argument or specify \"*\" without quotes to disable check of concurrent modification.","required":false,"type":"boolean","default":false},{"name":"contactPatch.patchData.etag","in":"query","description":"Current ETag of contact","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.internalCallUsers","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.timestamp","in":"query","required":false,"type":"string","format":"date-time"},{"name":"contactPatch.patchData.actualInteraction.widgetAddress","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.businessNumber","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.clientAddress","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.text","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.actualInteraction.requestState","in":"query","required":false,"type":"string","enum":["Missed","Connected","Replied","VoiceMail","Dropped","NoAnswer","Message"]},{"name":"contactPatch.patchData.actualInteraction.requestType","in":"query","required":false,"type":"string","enum":["Undefined","Call","VoiceMail","Message","Task","CallbackRequest","ServiceCall","MessageThread"]},{"name":"contactPatch.patchData.actualInteraction.callOrigin","in":"query","required":false,"type":"string","enum":["Undefined","Incoming","Outgoing","Callback","Internal"]},{"name":"contactPatch.patchData.actualInteraction.evt","in":"query","required":false,"type":"string","enum":["Unknown","Initial","Dialing","Connected","Hold","Unhold","Completed","SmsMms","VoicemailTranscribed","CrmResolved","ClientRead","Transfer","VoiceMail","TooManySmsMmsRequests","Quequed"]},{"name":"contactPatch.patchData.actualInteraction.read","in":"query","required":false,"type":"boolean"},{"name":"contactPatch.patchData.actualInteraction.connectedUserIds","in":"query","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.users","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.attachmentFileNames","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.actualInteraction.messageOrigin","in":"query","required":false,"type":"string","enum":["Unknown","Inbound","Outbound"]},{"name":"contactPatch.patchData.actualInteraction.requestGuid","in":"query","required":false,"type":"string","format":"uuid"},{"name":"contactPatch.patchData.resolvedExternalContacts","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.userGuid","in":"query","description":"User guid if the contact is an Agent (internal contact for internal call)","required":false,"type":"string","format":"uuid"},{"name":"contactPatch.patchData.isAutomatic","in":"query","required":false,"type":"boolean"},{"name":"contactPatch.patchData.contactOperationEvent.eventType","in":"query","required":false,"type":"string","enum":["CRUD","Import"]},{"name":"contactPatch.patchData.contactOperationEvent.createdContacts","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.contactOperationEvent.updatedContacts","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.contactOperationEvent.deletedContactIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.teamUserOperationEvent.createdUsers","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.teamUserOperationEvent.updatedUsers","in":"query","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.teamUserOperationEvent.deletedUserGuids","in":"query","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.avatarUrl","in":"query","required":false,"type":"string"},{"name":"contactPatch.patchData.contactId","in":"query","description":"Unique identifier of the contact, 24 symbols of length. Should match the regular expression ^[0-9a-fA-F]{24}$","required":false,"type":"string"},{"name":"contactPatch.patchData.firstName","in":"query","description":"First name of the contact. Field won't be returned if it doesn't exsist in the database","required":false,"type":"string"},{"name":"contactPatch.patchData.lastName","in":"query","description":"Last name of the contact. Field won't be returned if it doesn't exsist in the database","required":false,"type":"string"},{"name":"contactPatch.patchData.patronymic","in":"query","description":"Middle name (Patronymic) of the contact. Field won't be returned if it doesn't exsist in the database","required":false,"type":"string"},{"name":"contactPatch.patchData.created","in":"query","description":"Time in UTC when contact was created","required":false,"type":"string","format":"date-time"},{"name":"contactPatch.patchData.updated","in":"query","description":"Time in UTC of last update","required":false,"type":"string","format":"date-time"},{"name":"contactPatch.patchData.comment","in":"query","description":"Comment to this contact","required":false,"type":"string"},{"name":"contactPatch.patchData.tags","in":"query","description":"List of tags contact is marked with","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"contactPatch.patchData.channels","in":"query","description":"List of the contact records","required":false,"type":"array","items":{},"collectionFormat":"multi"},{"name":"contactPatch.patchData.state","in":"query","description":"Record State. Persists only for deleted contact with value \"deleted\".","required":false,"type":"string"},{"name":"contactPatch.patchData.role","in":"query","description":"Role if the contact is an internal contact (agent)","required":false,"type":"string"},{"name":"contactPatch.requestedFields","in":"query","required":false,"type":"array","items":{"type":"string","enum":["FirstName","LastName","Patronymic","Comment","Tags","Channels"]},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK. In case of success, the response contains the message 'Updated' and the contact that has been updated","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.OkDataResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d6e9031aa435be","contactId":null,"firstName":"John","lastName":"NEW LAST NAME","patronymic":"F.","created":"2026-04-19T22:10:53.8288842Z","updated":"2026-04-19T22:10:53.8288842Z","comment":"Some comment here","tags":["tag1","tag2"],"channels":[{"channelId":"5cbec7858558ea749cd955bf","email":"john.doe@mghtyc.co"},{"channelId":"5cbec7858558ea749cd955ba","labels":["Work-phone"],"phone":"+1700555112230"}]},"message":"Updated"}}},"400":{"description":"Bad Request. Input contact's  data is not valid","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactDataMalformed","message":"Contact data is malformed"}}},"403":{"description":"Forbidden. \r\n* Returns 403 with errorCode 'ContactsLimitExceeded' if max contacts count limit has been exceeded. You can not edit contact, if you have more contacts than your tariff plan allows to have. Use `contacts/limits` method to determine your current contacts limits. \r\n* Returns 403 with errorCode 'EmailLimitExceeded' if max email addresses count limit has been reached. \r\n* Returns 403 with errorCode 'PhoneNumbersLimitExceeded' if max phone numbers count limit has been reached.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"404":{"description":"Not Found. The contact with contact id specified was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"409":{"description":"Conflict.\r\nThis is a conflict response with errorCode 'ContactRecordsIntersection', also response has a list of contacts with intersection. \r\n\r\n```\r\n{\r\n    \"errorCode\":\"ContactRecordsIntersection\", \r\n    \"message\":\"Contact Records Intersection\",\r\n    \"data\":[\r\n        //array items: contact objects\r\n]}\r\n```","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[System.Collections.Generic.List[Infratel.ContactsLibrary.Models.ContactModel]]"},"examples":{"application/json":{"data":[{"contactId":null,"firstName":"John","channels":[{"channelId":"5cbec7858558ea749cd955ba","phone":"+1700555112230"}]},{"contactId":null,"firstName":"Jane","channels":[{"channelId":"5cbec7858558ea749cd955b2","phone":"+1700555112230"}]}],"errorCode":"ContactRecordsIntersection","message":"Contact Records Intersection"}}},"412":{"description":"Somebody else modified specified contact during operation. \r\nIn this case, actual contact will be present in response body. To delete this contact use new ETag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false}},"/contacts/limits":{"get":{"tags":["Contacts"],"summary":"Get Limits","description":"Get limits state for current account based on subscription. \r\n### Request headers:\r\n```\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_GetLimits","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsLimitsResult"},"examples":{"application/json":{"limitsState":"Ok","contactsCount":10,"limit":20}}}},"deprecated":false}},"/contacts/{contactId}/tags":{"post":{"tags":["Contacts"],"summary":"Add tags","description":"Adds one or multiple tags to the existing contact. Each tag is not checked to being unique for now. If no contact found, 404 Not found will be returned.\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_CreateTag","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to be updated with tags. This string is 24 symbols of length. Should match the regular expression ^[0-9a-fA-F]{24}$","required":true,"type":"string"},{"name":"tags","in":"body","description":"The list of tags to be added to the contact. Existing tags are not removed, all the tags specified in the request, will be added to the existing tags. \r\n            <param name=\"etag\">Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)</param>\r\n            This could be an array of one or several strings. Each tag should satisfy regular expression: \"^\\\\w+$\", so that each tag should not contain spaces of special chars - only letters, digits and underscore symbol are permitted to be used in tag staring.\r\n            Each tag should be not more than 100 symbols of length.","required":true,"schema":{"type":"array","items":{"type":"string"},"example":["new_tag-1","new_tag-2"]}},{"name":"etag","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK. Returns the list of the tags created.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.AddTagsOkResponse"},"examples":{"application/json":{"data":{"tags":["new_tag-1","new_tag-2"],"etag":"48d6e9031aa435be"},"message":"Created"}}},"400":{"description":"Bad request. Returns 400 Bad Request if input tags array is wrongly formatted array or has a tag which has invalid format.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"TagIsInvalid","message":"Tag(s) invalid"}}},"403":{"description":"Forbidden. \r\n* Returns errorCode 'ContactsLimitExceeded' if max contacts count limit has been exceeded. You can not edit contact, if you have more contacts than your tariff plan allows to have. Use `contacts/limits` method to determine your current contacts limits.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactsLimitExceeded","message":"Contact Records limit exceeded! Please upgrade your subscription."}}},"404":{"description":"Not Found. The contact with contact id specified was not found in your contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.ContactsErrorResponse"},"examples":{"application/json":{"errorCode":"ContactIsNotFound","message":"Contact is not found"}}},"412":{"description":"Specified contact was modified by somebody else during operation. \r\nIn this case actual contact will be present in response body. To delete this contact use new etag value or just omit etag argument. Returns 412 with errorCode 'ContactWasModified'.","schema":{"$ref":"#/definitions/API.HttpService.Models.Common.DataErrorResponse[Infratel.ContactsLibrary.Models.ContactModel]"},"examples":{"application/json":{"data":{"etag":"48d680627534a017","contactId":"5d023cf803be5b357c94831f","firstName":"John"},"errorCode":"ContactWasModified","message":"Contact was modified"}}}},"deprecated":false}},"/contacts/tags":{"get":{"tags":["Contacts"],"summary":"List of unique tags","description":"Get all unique tags from the existing contact.\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_ListTags","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK. Returns the list of unique tags from contacts.","schema":{"$ref":"#/definitions/API.HttpService.Models.Contacts.AddTagsOkResponse"},"examples":{"application/json":{"data":["tag-1","tag-2"]}}}},"deprecated":false}},"/contacts/{contactId}/channels/{channelId}":{"put":{"tags":["Contacts"],"summary":"Update (replace) channel","description":"Fully replaces a channel with specified channel id by new data in the request body. New channel ids will be created by the server, all the channels the contact had, will be deleted and new data placed instead of the existing channels.\r\n### Request headers:\r\n```\r\nContent-Type: application/json\r\nAuthorization: Bearer {auth_token}\r\nx-api-key: {api_key}\r\n```\r\n### Response headers:\r\n```\r\nContent-Type: application/json\r\n```","operationId":"Contacts_UpdateChannel","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"contactId","in":"path","description":"Unique identifier of the contact to update channel in. This string is 24 symbols of length. Should match the regular expression ```^[0-9a-fA-F]{24}$```","required":true,"type":"string"},{"name":"channelId","in":"path","description":"Unique identifier of the channel to be deleted. This should be a GUID string, e.g. 'b1774ee9-4f24-4490-abf6-a3e67576cd20'","required":true,"type":"string"},{"name":"channelModel","in":"body","description":"The input data object, containing channel properties","required":true,"schema":{"$ref":"#/definitions/Infratel.ContactsLibrary.Models.ChannelModel"}},{"name":"etag","in":"query","description":"Optional ETag of contact to be updated. Use it if you want to be sure that contact was not modified by other party (in this case you'll get \"412 PreconditionFailed\" response)","required":false,"type":"string"},{"name":"checkIntersection","in":"query","description":"Flag determines if intersection check should be applied or not. If **checkIntersection = true**, channel won't be updated if there is another contact(s) with the same phone number and http 409 Conflict error will return.\r\n   
[...]
